{% extends 'core/main_wrapper.html' %}
{% load static %}

{% block main %}
<div class="main-wrapper pt-5 pb-5">
  <div class="container">
    <div class="object-fit">
      <div class="object-fit__flex">
        {% for tvseries in tvseries_list %}
        <div class="object-fit__col">
          <div class="object-fit__card">
              {% if tvseries.image %}
            <div class="object-fit__image"><img src="{{ tvseries.image.url }}" alt="" /></div>
              {% endif %}
            <div class="object-fit__body">
              <div class="object-fit__title">{{ tvseries.title }}</div>
              <div class="object-fit__text" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100%;">{{ tvseries.description }}</div>
                <br>
              <div>
                <button class="btn-hover color-1" type="submit" style="display: block; margin: 0 auto;" onclick="window.location.href = '{% url 'tvseries_detail' tvseries.id %}';">View</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
